<!DOCTYPE html>
<html xmlns:th="http://thymelead.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <section layout:fragment="body" class="py-5 m-auto">
    <div class="container">
      <div th:if="${param.success}" class="alert alert-success">
        You are register successfully!
      </div>
    </div>
    <div class="container">
      <div class="container" sec:authorize="!isAuthenticated()">
        <div class="alert alert-success">
          You do not have permission to create a ticket!
        </div>
      </div>
      <div sec:authorize="isAuthenticated()" >
        <h1 class="h1 mb-2">Create A Ticket</h1>
        <form id="form" role="form" method="post" th:action="@{/ticket/create}" th:object="${ticket}" >
          <div>
            <div class="col-md-4 mb-3">
              <label for="numberOfPeople">Number of people</label>
              <input type="text" class="form-control" id="numberOfPeople" placeholder="Number" th:field="*{numberOfPeople}" name="numberOfPeople" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="price">Price</label>
              <input type="text" class="form-control" id="price" placeholder="Price" th:field="*{price}" name="price" disabled>
            </div>
            <div class="col-md-4 mb-3">
              <label for="isGroup">Group</label>
              <input type="radio" id="isGroup" name="isGroup" placeholder="isGroup" >
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Create</button>
        </form>
      </div>
    </div>

    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          const numberOfPeopleInput = document.getElementById("numberOfPeople");
          const priceInput = document.getElementById("price");

          // Add an event listener to the "number of people" input
          numberOfPeopleInput.addEventListener("input", function () {
            // Get the current value of "number of people"
            const numberOfPeople = parseInt(this.value, 10);

            // Calculate the price based on the number of people
            var price = numberOfPeople * 120;

            if(numberOfPeople == null) {
              price = 0
            }

            // Update the "price" input field with the calculated price
            priceInput.value = price;
          });
        }, false);
      })();
    </script>
  </section>
</main>
</body>
</html>